    <table border="1px">
        <tr>
            <td> Nome </td>
            <td> Tipo</td>
            <td> Quantidade de Funcionarios</td>
            <td> Nome do Proprietario</td>
            <td> Endereço</td>
        </tr>
        {{#each empresas}}
        <tr>
            <td>{{nome}}</td>
            <td>{{tipo}}</td>
            <td>{{qtdFuncionarios}}</td>
            <td>{{proprietario}}</td>
            <td>{{endereco}}</td>
        </tr>
        {{/each}}
    </table>